﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/farm_adm.Master" CodeBehind="Sistema.aspx.vb" Inherits="FARM_ADM.Sistema" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <div class="tituloGris alinearCentro " style="width:100%;">
   Bienvenidos...
</div>
</asp:Content>
