﻿.grid
{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	border-spacing: 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 100%;
	color:White;
	font-weight:normal;
}
.grid H2
{
    background: transparent url('../../estandar/imagenes/fondoCabecera.png') repeat-x left top;
    border-color: #DEDEDC;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 11px;
    height: 18px;
    margin: 0px;
}
.grid  tr
{
    background-color:#DEDEDC;
}
.grid #orders .group TH
{
    border-bottom: solid 2px #a5a4bd;
    border-bottom-color: #999999;
    color: #222222;
    text-decoration:none;
    padding: 10px 0px 2px 0px;
    text-align: left;
}
.grid #orders .group TH.first
{
	border-bottom: none;
	text-align: center;
}
.grid #orders .item TD
{
    border-bottom: solid 1px #eae9e1;
    color: #222222;
    padding: 3px 0px 3px 6px;
    border-bottom-color: #C0C0C0;
}
.hidden
{
	display: none;
	visibility: hidden;
}