﻿body {
}
.textoRojo
{
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}
.textoGris {
	font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: #333333;
    text-decoration: none;
}
.textoNegroNegrita {
	font-family: "georgia", "times new roman", serif;
	font-weight:bold;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
}
.textoAyuda{
    font-family: "georgia", "times new roman", serif;
	font-style: italic; 
    font-size: 9px;
    color: #7B7D7D;
    text-decoration: none;
    }
.textoCafe {
	font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: #B96D00;
    text-decoration: none;
}
.textoBlanco
{
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
}
.quitarBold
{font-weight: normal;
    }
.subrayado
{text-decoration: underline;
}
.alinearDer {
	text-align:right;
}
.alinearIzq {
	text-align:left;
}
.alinearCentro {
	text-align:center;
}
table.generica
{
    border: 1px solid silver;
    display: inline-table;
    position: relative;
    width: 100%;
    border-spacing: 0px;
    background: #FFFFFF;
    border-collapse: collapse;
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    top: 0px;
    left: 0px;
}

table.generica th
{
    border-width: 1px;
    padding: 0px 2px 0px 5px;
    height:20px;
    border-style: solid;
    border-color: #DEDEDC;
    background: transparent url('../estandar/imagenes/fondoCabecera.png') repeat-x left top;
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: White;
    font-weight: normal;
    margin:0px;
}
table.generica th.rowspan
{
    border-width: 1px;
    padding: 0px 2px 0px 5px;
    height:40px;
    border-style: solid;
    border-color: #DEDEDC;
    background: transparent url('../estandar/imagenes/fondoCabecera2.png') repeat-x left top;
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: White;
    font-weight: normal;
    margin:0px;
}
table.generica th.alterna
{
    border-width: 1px;
    padding: 0px 2px 0px 5px;
    height:20px;
    border-style: solid;
    border-color: #DEDEDC;
    background: transparent url('../estandar/imagenes/fondoCabecera3.png') repeat-x left top;
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: White;
    font-weight: normal;
    margin:0px;
}

table.generica tr
{
    border-width: 1px;
    padding: 0px;
    border-style: solid;
    border-color: #000;
    vertical-align:middle;
}
table.generica #zebra td
{
    margin: 0px;
    border-spacing: 0px;
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #ccc;
    background-color: #E8E8E8;
    border-collapse: collapse;
    text-indent: 5px;
    height: 22px;
    vertical-align: middle;
}
table.generica td
{
    margin: 0px;
    border-spacing: 0px;
    border-width: 1px;
    padding:2px;
    border-style: solid;
    border-color: #ccc;    
    border-collapse: collapse;
    text-indent: 5px;
    height:22px; 
    vertical-align:middle;
}
table.generica .img
{
    padding:0px;
    margin:0px;
    height:27px;
    vertical-align:middle;
}
.lkButton
{

	font-family: "georgia", "times new roman", serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
    cursor : hand ;
}
 .lkButton:link
{
 text-decoration: none;
 color: #ffffff;
}

.lkButton:visited
{
 text-decoration: none;
 color: #ffffff;
}

.lkButton:active
{
 text-decoration: none;
 color: #ffffff;
}

.lkButton:hover
{
 text-decoration: underline;
 color: #ffffff;
}
.vinculoNegro
{
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    padding: 3px 10px 3px 10px;
    font-weight: normal;
}
.vinculoNegro:link
{
    text-decoration: none;
    color: #000000;
}
.vinculoNegro:visited {
	text-decoration:none;
	color:#000000;
}
.vinculoNegro:active {
	text-decoration:none;
	color:#000000;
}
.vinculoNegro:hover {
	text-decoration:underline;
	color:#000000;
}
.greyText{
  color: #CCCCCC;
}
.modalBackground
{
    background-color: #808080;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px 3px;
    height: auto;
}
.botonGris {
	font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    color: #4d4d4d;
    text-decoration: none;
    font-weight: bold;
    background-color:White;
}
.fondoValidador
{
    background-color: lemonchiffon;
}
.ocultar
{
display:none;    
 }
.divContent
    {
        height:30px; 
    }    
.divTitulo
    {
        float:left; 
        width:135px;
        vertical-align : middle;
        height:25px;
    }
    .contenedorDiv
    {
        width: 550px;
        margin: auto;
        display: table;
        text-align:left;
    }
    .row {
        display: table-row;
    }
    .divIzquierda {
        width:150px;
        display: table-cell;
        text-align:left;
     }
     .divDerecha{
        width:150px;
        display: table-cell;
        text-align:left;
     }
     .divCentral
    {
        width:150px;
        display: table-cell;
        text-align:left;
    }
.tituloPagina
 {
    font-family: "georgia", "times new roman", serif;
    font-size: 18px;
    color: #ba2222;
    text-decoration: none;
    font-weight: bold;
    padding-left:5px;
  }
  .vinculoNegro
{
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    font-weight: normal;
}
.vinculoBlanco:link
{
    text-decoration: none;
    color: #FFFFFF;
}
.vinculoBlanco:visited {
	text-decoration:none;
	color:#FFFFFF;
}
.vinculoBlanco:active {
	text-decoration:none;
	color:#FFFFFF;
}
.vinculoBlanco:hover {
	text-decoration:none;
	color:#FFFFFF;
}
.hidden
{
	display: none;
	visibility: hidden;
}
.paginador
{
    position: relative;
    width: 100%;
    left: 0px;
    height: auto; 
    text-align: center; 
    padding: 10px 10px 0px 10px;     
}
.tituloGris
{
    font-family: "georgia" , "times new roman" , serif;
    font-size: 1.2em;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}
.categoria
{
    border: 1px solid silver;
    display: inline-table;
    position: relative;
    width: 100%;
    border-spacing: 0px;
    background: #FFFFFF;
    border-collapse: collapse;
    font-family: "georgia", "times new roman", serif;
    font-size: 11px;
    top: 0px;
    left: 0px;
}
       .padre td
        {
            background-color:#373737;
            border-top: 0.1em solid black;
            border-bottom:0.1em solid black;
            /*padding-left:10px;*/
        }
        .hijo td
        {
            background-color:#f2f4f7;
            border-top:0.1em solid black;
            border-bottom:0.1em solid black;
        }
                .select td
        {
            background-color:#999999;
            border-top:0.1em solid black;
            border-bottom:0.1em solid black
        }
        .flotanteRight
        {
            float:right;
            }
            .flotanteLeft
        {
            float:left;
            }
            .margenEspacioAbajo
            {margin-bottom:7px;
                }
                .margenEspacioDerecho
            {margin-right:7px;
                }
                .margenEspacioIzquierdo
            {margin-left:7px;
                }
                .margenEspacioArriba
            {margin-top:7px;
                }
.visibilityOcultar
{visibility:hidden;
    }
.visibilityMostrar
{visibility:visible;
    }
    .AyudaInferior
{
	font-family: "georgia" , "times new roman" , serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
    margin-right: 0px;
    text-align:center;
    padding: 10px 10px 10px 10px;  
}
.panelTitulofondo
{
    display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: Geneva;
    font-size: 12px;
    background-color: #BA5A5C;
    background: transparent url(../estandar/imagenes/fondoCabecera.png) left top repeat-x;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    text-decoration: underline;
}