﻿.primaryStaticMenuItem
{
    font: bold 11px "georgia", "times new roman", serif;
    line-height: 23px;
    text-decoration: none;
    text-align: center;
    color: White;
}
.primaryStaticHover
{
    color: #FFFFFF;
    background: #C0C0C0;
}

.primaryDynamicMenu
{
    border-width: thin;
    border-style: none;
    background-color: #999999;
}  
.primaryDynamicMenuItem
{
    background-color: #858b00;
    color: #FFFFFF;
    display: block;
    font: bold 11px "georgia", "times new roman", serif;
    line-height: 23px;
    padding: 2px 5px 3px 5px;
    text-decoration: none;
    text-align: left;
    width: auto;
    text-transform: capitalize;
}    
.primaryDynamicHover
{
    color: #00FF00;
    background-color: #999999;
}
.primaryDynamicMenu a:hover
{
    background-color: #929902;
    color: #FFFFFF;
}