﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/cappias_camiri.Master" CodeBehind="404.aspx.vb" Inherits="Cappias_Camiri._404" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>Pagina No Encontrada</h2>
    <br />
    <p>
       La página solicitada no se pudo encontrar.
    </p>

</asp:Content>
